form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
   
}

input {
    
    text-align: center;
    align-self: center;
    font-size: large;
   
}

mat-form-field {
    margin: 150;
    width: 500px;


}

.mat-button-base {
    margin: 0%;
    align-self: center;

}