/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; color: whitesmoke}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #3f3b3b;}

a{
    color: rgb(36, 141, 141);
    text-decoration: none;
}
button{
   height: auto; 
   color: #000;
   width: auto;
   cursor: grab;
}
